*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.divInForm {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 5rem;
}

.formDiv {
    max-width: 60%;
    margin: auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 3rem 2rem 3rem 2rem;
    justify-content: space-evenly;
}

.formButton {
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.Links {
    text-align: center;
    display: inline;
    justify-content: space-evenly;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid #4CAF50;
}

form{
    margin-bottom: 3rem;
}

@media (max-width: 700px) {
    #nav{
        height: 388px;
    }
    #foot{
        height: 100px;
    }
}
