* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    padding-top: 18px;
    font-size: 19px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 59);
    height: 7.85vh;
}

@media(max-width: 700px) {
    footer p{
        font-size: 15px;
    }
}