*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    padding: 3vh;
    margin: 4rem 0rem 5rem 0rem;
}

.div1, .div2 {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.div1 {
    text-align: justify;
}

.div1 p {
    float: left;
    margin: 1rem;
    font-size: 20px;
    max-width: 90%;
    color: black;
}

h2 {
    margin: 1rem;
    margin-bottom: 10px;
}

table {
    margin: 1rem;
    width: 100%;
    border-collapse: collapse;
}

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

  th {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    #nav{
        height: 388px;
    }
    #foot{
        height: 100px;
    }
    .div1, .div2 {
        width: 100%;
    }

    .div2 h2 {
        text-align: center;
    }
}