*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    width: 100%;
    height: 13vh;
    border: none;
}

.Container{
  max-width: 72.5rem;
  padding: 0 20px;
  margin: 2.5rem auto 10rem auto;
  display: flex;

  @media (max-width: 480px) {
    flex-direction: column;

    .right-blocks {
      margin-top: 2rem;
    }
  }
}


.BlockLayout{
  max-width: 40rem;
  margin-right: 2rem;
  border-radius: 6px;
  background-color: #F3F2F2;
  margin-bottom: 0.85rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}

.BlockHeader {
  display: flex;
  gap: 0.6rem;
  margin-bottom: 2rem;

  .rightBlocks {
    display: flex;
    flex-direction: column;
  }

  .blockText {
    line-height: 130%;
  }

  .blockTitle {
    color: #403937;
  }

  .blockSubtitle {
    font-size: 0.8rem;
    color: #574F4D;
  }
}

.CheckoutForm {
  width: 40rem;
  margin-right: 2rem;
  border-radius: 6px;
  padding: 2.5rem;
  background-color: #F3F2F2;
  margin-bottom: 0.85rem;

  @media (max-width: 480px) {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .formInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .flexHor {
    display: flex;
    gap: 1rem;

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }

  .postal-code,
  .number,
  .neighbourhood {
    max-width: 12.5rem;

    @media (max-width: 480px) {
      max-width: 100%;
    }
  }

  .input-alert {
    border: 1px solid #ff0000;
  }

  .cartState {
    max-width: 2.95rem;
  }

  .error-message-number,
  .error-message-number-mobile,
  .error-message-postalcode {
    display: block;
    font-size: 0.75rem;
    color: #ff0000;
    margin-left: 0.8rem;
  }

  .error-message-number {
    @media (max-width: 480px) {
      display: none;
    }
  }

  .error-message-number-mobile {
    display: none;
    @media (max-width: 480px) {
      display: block;
    }
  }
}

.CheckoutFormInput {
  width: 100%;
  height: 2.6rem;
  background-color: #EDEDED;
  border-radius: 6px;
  border: 1px solid #E6E5E5;
  outline: transparent;
  padding: 0 0.7rem;
  font-size: 0.9rem;
  color: #8D8686;

  &:focus {
    outline: 1px solid #4B2995;
  }
}

.Installments{
  .installmentsOptions {
    display: flex;

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }

  .selected-installment {
    outline: 1px solid #8047F8;
    background-color: #EBE5F9;
  }
}

.OrderSummary{
  width: 28rem;
  padding: 2.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 6px;
  background-color: #F3F2F2;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.SubTitle {
  font-size: 1.12rem;
  color: #403937;
  margin-bottom: 0.9rem;
}

.RemoveButton {
  border: none;
  border-radius: 6px;
  background-color: #E6E5E5;
  color: #574F4D;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: #D7D5D5;
  }

  .btn-text {
    display: block;
  }

  @media (max-width: 480px) {
    .btn-text {
      display: none;
    }
  }
}

.SelectedProduct {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E6E5E5;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  .product-name-and-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-name {
    color: #403937;

    @media (max-width: 480px) {
      margin-bottom: 0.8rem;
    }
  }

  .product-image {
    max-width: 4rem;
    max-height: 4rem;

    @media (max-width: 480px) {
      display: none;
    }
  }

  .controls {
    display: flex;
    height: 2rem;
    gap: 0.5rem;
  }
}

.BillingSummary{
  .billing-title {
    font-size: 0.9rem;
    color: #574F4D;
  }

  .billing-value {
    font-size: 1rem;
  }

  .billing > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 1.5rem;
    }
  }

  .billing-total-title,
  .billing-total-value {
    font-weight: 700;
    color: #403937;
    font-size: 1.25rem;
  }
}

.PlaceOrderButton {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0.9rem 0.9rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #DBAC2C;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background-color 0.3s;
  border: none;

  &:hover {
    background-color: #C18C1B;
  }

  &:disabled {
    background-color: lightgray;
    cursor: initial;
    color: gray;
  }
}

.InstallmentButton {
  width: 100%;
  height: 3.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  border: none;
  background-color: #E6E5E5;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #574F4D;
  padding: 0 0.9rem;
  gap: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #D7D5D5;
  }

  &:focus {
    outline: 1px solid #8047F8;
    background-color: #EBE5F9;
  }
}

.EmptyCartMessage {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 700;
  color: #8D8686;
}

.EmptyCartButton {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0.9rem 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #8047F8;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  margin-bottom: 3rem;

  &:hover {
    background-color: #4B2995;
  }
}